<h1><%= @merchant.name %></h1>

<%= link_to "Merchant Items Index", url: "/merchants/#{@merchant.id}/items" %>
<%= link_to "Merchant Invoices Index", url: "/merchants/#{@merchant.id}/invoices" %>

<div id="top_customers">
  <h2>Top Customers:</h2>
  <ul>
    <% @merchant.top_customers.each do |customer| %>
      <li id="customer_id<%= customer.id %>">Name: <%= customer.first_name %> <%= customer.last_name %>, successful transactions: <%= customer.count_successful_transactions %></li>
    <% end %>
  </ul>
</div>

<div id="ready-to-ship">
<h2>Ready To Ship Items</h2>
  <% @merchant.ready_to_ship.each do |invoice_item| %>
    <div id="rts-item-<%="#{invoice_item.id}"%>">
    Name: <%= invoice_item.name %>, Invoice ID: (<%= link_to invoice_item.invoice_id, merchant_invoice_path(@merchant, invoice_item.invoice_id) %>)
    Created: <%=  %>
    <br>
    </div>
  <% end %>
</div>