<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
        <%= msg %>
    <% end %>
    <%= yield %>
  <hr>
  <div id="github-stats">
    Repository Name: <%= @repo_name.name %><br>
    Contributor Names:<br> <% @contributor_names.contributors.each do |name| %>
      <%= name %>
    <% end %><br>
    Commits Count: <%= @commits_count.commits %><BR>
    PR Count: <%= @pr_count %><br>
  </div>
  </body>
</html>
