<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
        <%= msg %>
    <% end %>
    <%= yield %>
  <hr>
  <div id="github-stats">
    Repository Name: <%= @repo.name %><br>
    Contributors:<br> <% @users.each do |user| %>
      <div id=<%= "user-#{user.username}" %>>
      Username: <%= user.username %> | Total Commits: <%= user.commit_total %> <br>
      </div>
    <% end %>
    Merged Pull Requests: <%= @merged_pulls.count %><br>
  </div>
  </body>
</html>